/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.backImg{
  background-image: url("https://cdn.shopify.com/s/files/1/0326/7189/t/65/assets/forestaerialview-1661377248509.jpg?v=1661377249");
  height: 600px;
}
.bgTree{
  background-image: url('https://cdn.shopify.com/s/files/1/0326/7189/files/trees-white.svg?v=1626231895'),url('https://cdn.shopify.com/s/files/1/0326/7189/files/trees-white.svg?v=1626231895');
  background-repeat: no-repeat;
  background-position: left 30px bottom,right -25px bottom;
  background-size: 275px,225px;
  padding-bottom: 80px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.bgOcordion{
  background-image: url('https://cdn.shopify.com/s/files/1/0326/7189/t/65/assets/one-tree-planted-soil-1661358941511.svg?v=1661358942');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 75px;
    padding-bottom: 80px;
    overflow: hidden;
    position: relative;
}
.box > div{
  display: none;
}
.box:hover >h1{
  display: none !important;
}
.box:hover >div{
  display:block !important;
}

